.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  background-color: #dfdad5;
  font-family: 'DM Sans', sans-serif;
  color: #242022;
  font-size: 1vw;
  line-height: 1.6;
  font-weight: 400;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  font-family: Cambon, sans-serif;
  font-size: 5.4em;
  line-height: 1;
  font-weight: 300;
  letter-spacing: -0.02em;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Cambon, sans-serif;
  font-size: 2.4em;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: -0.02em;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Cambon, sans-serif;
  font-size: 2.4em;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: -0.02em;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.3em;
  line-height: 1.4;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1em;
  line-height: 1.4;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.85em;
  line-height: 1.4;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1em;
}

a {
  height: 30px;
  color: transparent;
  font-size: 1em;
  text-decoration: none;
}

blockquote {
  margin-bottom: 1em;
  padding: 1em 2em;
  border-left: 0.4em solid #e2e2e2;
  font-size: 140%;
  line-height: 1.6;
}

.container {
  width: 1560px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 6em 2em;
  background-color: #272245;
  color: #fff;
}

.container.is--nav {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2em;
  padding-bottom: 2em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.is--template {
  padding-bottom: 2em;
}

.html {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  overflow: hidden;
  width: 0px;
  height: 0px;
  opacity: 0;
}

.section.hero {
  position: relative;
  overflow: hidden;
}

.section.is--nav {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1000;
}

.section.is--template {
  min-height: 100vh;
  text-align: center;
}

.section.is--dark {
  background-color: #25233d;
  color: #dfdad5;
}

.header {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 8.7em;
  padding-bottom: 6.2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hero_right {
  height: 100%;
}

.hero_wrap {
  position: relative;
  overflow: hidden;
}

.hero_text {
  -webkit-transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  font-family: Tradegothiclt, sans-serif;
  text-transform: uppercase;
}

.logo {
  width: 6em;
  height: 1.6em;
}

.logo_image {
  width: 100%;
}

.button {
  padding: 0.5em 2.4em;
  border-style: solid;
  border-width: 1px;
  border-color: #242022;
  border-radius: 100vw;
  background-color: transparent;
  -webkit-transition: all 200ms cubic-bezier(.165, .84, .44, 1);
  transition: all 200ms cubic-bezier(.165, .84, .44, 1);
  color: #242022;
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
}

.button:hover {
  background-color: #242022;
  color: #dfdad5;
}

.button.is--hero {
  text-align: center;
}

.template_image {
  width: 100%;
  height: 42em;
  margin-top: 3.2em;
  -o-object-fit: cover;
  object-fit: cover;
}

.header_sub {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2em;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header_sub-line {
  width: 4em;
  height: 1px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #242022;
}

.header_sub-text {
  margin-left: 1em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.nav-link {
  padding-left: 2em;
}

.menu-icon {
  display: none;
  width: 2em;
  height: 2em;
}

.nav-link_text {
  font-size: 1.2em;
}

.hero_content {
  padding-top: 3em;
  padding-bottom: 3em;
}

.hero_top {
  width: 100%;
  height: 0px;
}

.hero_arrows {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.3em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.arrow_image {
  width: 5em;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-icon_embed {
  width: 100%;
  height: 100%;
}

.splide {
  position: relative;
  width: 100%;
}

.splide.slider1.pill {
  padding-right: 14em;
}

.splide.slider2.pill {
  padding-right: 14em;
}

.splide.slider2.tall {
  overflow: hidden;
}

.splide__track {
  width: 100%;
}

.splide__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.splide__slide {
  width: 33.333333333333336%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.splide__slide.five-cards {
  width: 20%;
}

.slider-pill_img {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 2em;
  padding-top: 128%;
  border-radius: 100vw;
  background-color: rgba(36, 32, 34, 0.14);
  -o-object-fit: cover;
  object-fit: cover;
}

.overflow {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider-pill {
  padding-bottom: 3.5em;
  text-align: center;
}

.sliders_text2 {
  font-family: 'Tradegothiclt condeighteen', sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.splide__arrows {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.splide__arrows.is--center {
  padding-left: 1em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.splide__embed {
  display: none;
  color: #fff;
}

.splide__arrow {
  width: 6em;
  height: 3em;
  margin-right: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: #242022;
  border-radius: 100vw;
  background-color: transparent;
  background-image: var(--image-611dd774);
  background-position: 50% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.splide__arrow:hover {
  background-color: rgba(55, 50, 53, 0.06);
}

.splide__arrow.splide__arrow--prev {
  background-image: var(--image-356e9843);
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.splide__arrow.splide__arrow--prev:active {
  -webkit-transform: scale(0.95) rotate(-180deg);
  -ms-transform: scale(0.95) rotate(-180deg);
  transform: scale(0.95) rotate(-180deg);
}

.splide__arrow.splide__arrow--next {
  background-image: var(--image-356e9843);
  background-position: 50% 50%;
  background-size: auto;
}

.splide__arrow.splide__arrow--next:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.splide__pagination {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.splide__pagination__page {
  width: 3em;
  height: 4px;
  margin-right: 0em;
  margin-left: 0.3em;
  background-color: #242022;
  opacity: 0.2;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.splide__pagination__page.is-active {
  background-color: #242022;
  opacity: 1;
}

.slider-css {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 0px;
}

.slider-square {
  padding-bottom: 3.5em;
  -webkit-transition: color 350ms ease;
  transition: color 350ms ease;
  text-align: left;
}

.slider-square_img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 70%;
  max-height: 70%;
  margin-bottom: 2em;
  padding-top: 160%;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
  -o-object-fit: cover;
  object-fit: cover;
}

.slider-square_photo {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
  -o-object-fit: cover;
  object-fit: cover;
}

.pagination_item {
  display: inline-block;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.slider-pill_photo {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
  -o-object-fit: cover;
  object-fit: cover;
}

.slider-tall {
  padding-bottom: 3.5em;
}

.slider-tall.center {
  text-align: center;
}

.slider-tall_img {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 2em;
  padding-top: 149%;
  -webkit-transition: border-radius 500ms ease, -webkit-transform 500ms ease;
  transition: border-radius 500ms ease, -webkit-transform 500ms ease;
  transition: border-radius 500ms ease, transform 500ms ease;
  transition: border-radius 500ms ease, transform 500ms ease, -webkit-transform 500ms ease;
}

.slider-tall_img.rounded {
  border-radius: 2em;
}

.slider-tall_photo {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  -o-object-fit: cover;
  object-fit: cover;
}

.text-opacity {
  opacity: 0.3;
  -webkit-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
}

.rightdiv {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-left: 50%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
}

.lookscroll {
  margin-bottom: 49px;
}

.lookheading {
  margin-bottom: 19px;
  font-family: Tradegothiclt, sans-serif;
  color: #fff;
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.button-2 {
  background-color: #0d4f89;
  font-weight: 700;
}

.imagecover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 0%;
  object-position: 50% 0%;
}

.rightdivscroll {
  width: 100%;
  height: auto;
  padding: 48px;
  background-color: transparent;
}

.text-block {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.3vw;
  font-weight: 400;
}

.fullvh {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #141844;
  -o-object-fit: cover;
  object-fit: cover;
}

.grid-2 {
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
}

.lookdivmain.image {
  position: relative;
}

.shoplookh1 {
  margin-bottom: 45px;
  font-family: Tradegothiclt, sans-serif;
  color: #fbfbfb;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 1px;
}

.leftdiv {
  height: 100vh;
}

.leftdiv.fixed {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.heading {
  font-family: Tradegothiclt, sans-serif;
  text-transform: uppercase;
}

.heading-2 {
  font-family: Tradegothiclt, sans-serif;
}

.heading-3 {
  font-family: Tradegothiclt, sans-serif;
}

.heading-4 {
  font-family: Tradegothiclt, sans-serif;
  text-transform: uppercase;
}

.heading-5 {
  font-family: Tradegothiclt, sans-serif;
  text-transform: uppercase;
}

.heading-6 {
  font-family: Tradegothiclt, sans-serif;
  text-transform: uppercase;
}

.div-block {
  background-color: #141844;
}

.blue-container {
  background-color: #141844;
}

.body {
  background-color: #141844;
}

.link-block {
  width: 100%;
}

.linkblockslookbook {
  color: #fff;
}

@media screen and (max-width: 991px) {
  body {
    font-size: 14px;
  }

  h3 {
    font-size: 2em;
  }

  .container {
    padding-right: 5vw;
    padding-left: 5vw;
  }

  .header {
    width: 100%;
    height: auto;
  }

  .hero_right {
    overflow: hidden;
    height: 58em;
    padding-right: 4vw;
    padding-left: 4vw;
    font-size: 1vw;
  }

  .nav-link {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .hero_content {
    padding-top: 7.8em;
  }

  .nav-menu {
    display: none;
  }

  .splide.slider1.pill {
    padding-right: 6vw;
  }

  .splide.slider2.pill {
    padding-right: 6vw;
  }

  .splide__slide {
    width: 50%;
  }

  .splide__slide.five-cards {
    width: 33.333333333333336%;
  }

  .slider-pill_img {
    padding-top: 148%;
  }

  .splide__pagination {
    position: relative;
    padding-top: 1.9em;
  }

  .splide__pagination__page {
    width: 2em;
    height: 3px;
    margin-right: 0.3em;
    margin-left: 0em;
  }

  .lookheading {
    font-size: 2em;
  }

  .button-2 {
    font-size: 2em;
  }

  .text-block {
    font-size: 2vw;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 4em;
  }

  .container {
    padding-right: 8vw;
    padding-left: 8vw;
  }

  .splide.slider1.pill {
    padding-right: 0vw;
  }

  .splide.slider2.pill {
    padding-right: 0vw;
  }

  .splide.slider2.tall {
    overflow: visible;
  }

  .splide__slide {
    width: 100%;
  }

  .splide__slide.five-cards {
    width: 100%;
  }

  .splide__arrows.is--mobile-center {
    padding-left: 1em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .slider-tall_img {
    padding-top: 125%;
  }

  .rightdiv {
    width: 100%;
    margin-left: 0%;
  }

  .fullvh {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .leftdiv.fixed {
    position: relative;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 12.6vw;
  }

  .header_sub-line {
    width: 2em;
  }

  .lookheading {
    font-size: 3em;
  }

  .rightdivscroll {
    padding: 16px;
  }

  .text-block {
    font-size: 4vw;
  }
}

#w-node-cb3850ac-89fc-c6bb-9846-8105527a06d9-5977826c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cb3850ac-89fc-c6bb-9846-8105527a06db-5977826c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cb3850ac-89fc-c6bb-9846-8105527a06e5-5977826c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cb3850ac-89fc-c6bb-9846-8105527a06e7-5977826c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cb3850ac-89fc-c6bb-9846-8105527a06f1-5977826c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cb3850ac-89fc-c6bb-9846-8105527a06f3-5977826c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cb3850ac-89fc-c6bb-9846-8105527a06fd-5977826c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cb3850ac-89fc-c6bb-9846-8105527a06ff-5977826c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@font-face {
  font-family: 'Tradegothiclt condeighteen';
  src: url("/assets/fonts/tradegothiclt-condeighteen.woff2") format('woff2'), url("/assets/fonts/tradegothiclt-condeighteen.eot") format('embedded-opentype'), url("/assets/fonts/tradegothiclt-condeighteen.woff") format('woff'), url("/assets/fonts/tradegothiclt-condeighteen.svg") format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tradegothiclt';
  src: url("/assets/fonts/tradegothiclt-boldcondtwenty.woff2") format('woff2'), url("/assets/fonts/tradegothiclt-boldcondtwenty.eot") format('embedded-opentype'), url("/assets/fonts/tradegothiclt-boldcondtwenty.woff") format('woff'), url("/assets/fonts/tradegothiclt-boldcondtwenty.svg") format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cambon';
  src: url("/assets/fonts/cambon-extralight.ttf") format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cambon';
  src: url("/assets/fonts/cambon-extralightitalic.ttf") format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cambon';
  src: url("/assets/fonts/cambon-light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cambon';
  src: url("/assets/fonts/cambon-lightitalic.ttf") format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cambon';
  src: url("/assets/fonts/cambon-medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cambon';
  src: url("/assets/fonts/cambon-italic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cambon';
  src: url("/assets/fonts/cambon-regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cambon';
  src: url("/assets/fonts/cambon-mediumitalic.ttf") format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}